$white:#fff;
$light-gray:#f9f9f9;
$gray:#dddddd;
$medium-gray:#cbcbcb;
$dark-gray:#888888;
$darker-gray:#656565;
$blue:#62aeca;
$red:#f73e3e;
$dark-red:#d02222;

$settings:#eaeaea;
$input-border:#eaeaea;
$dropdown-bg:#f1f1f1;

$trans-all:all 0.3s ease;