@import './variables';
@import './mixins';

body {
  width:360px;
  height:500px;
  padding:0;
  margin:0;
  font-family: 'Raleway', sans-serif;
}

div, figure, section, nav, article {
  padding:0; margin:0; box-sizing: border-box;
}

.top {
  background:$white;
  height:140px;
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index: -1;
  transition:height 0.3s ease-in;
}

.bottom {
  background:$light-gray;
  height:360px;
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  z-index: -1;
  transition:height 0.3s ease-in;
  box-shadow:inset 0 20px 50px -20px rgba(0,0,0,0.02), inset 0 1px 2px rgba(0,0,0,0.02), inset 0 10px 70px -30px rgba(0, 0, 0, 0.25);
}

.half-screen { height:250px; }
.full-screen { height:250px; }
.hidden-screen { height: 435px; }

footer {
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  background:$gray;
  height:8px;
}

+

/** ANIMATIONS ------------------------------------*/

// Vue
//.fade-enter-active, .fade-leave-active {
//  transition-property: opacity;
//  transition-duration: .25s;
//}
//
//.fade-enter-active {
//  transition-delay: .25s;
//}
//
//.fade-enter, .fade-leave-active {
//  opacity: 0;
//}

.fade-enter-active {
  position:absolute;
  left:0; right:0;
  z-index:-1;
  animation: enter .8s;
}

.fade-leave-active {
  position:absolute;
  left:0; right:0;
  z-index:-1;
  animation: leave .8s;
}

  @keyframes enter {
    0% {
      opacity: 0;
      transform: translateY(360px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  @keyframes leave {
    0% {
      opacity: 1;
      transform: translateY(0px);
    }
    100% {
      opacity: 0;
      transform: translateY(360px);
    }
  }


@keyframes spin {
  0% { transform:rotateZ(0deg); }
  100% { transform:rotateZ(360deg); }
}









.logo {
  color:$dark-gray;
  position:absolute;
  font-family: 'Grand Hotel', sans-serif;
  transition: all 0.4s ease;
  transition-property:left, right, top, bottom, font-size;
  z-index:-1;

  &.auth {
    left:113px;
    right:113px;
    top:80px;
    font-size:64px;
  }

  &.keychain {
    right:55px;
    left:calc(100% - 100px);
    top:16px;
    font-size:22px;

    &.editing {
      right: 30px;
      left: calc(100% - 70px);
    }
  }

  &.settings {
    left:20px;
    right:0;
    top:16px;
    font-size:22px;
  }
}














.settings-button {
  position:absolute;
  top:17px;
  right:20px;
  font-size:24px;
  color:$settings;
  cursor: pointer;
  z-index:2;
  transform-origin:center;
  transition:max-width 0.3s ease;
  overflow: hidden;

  &.hide {
    max-width:0;
  }

  :hover {
    color:$dark-gray;
    transition:all 0.3s ease;
    transition-property:color;
    animation-name: spin;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

  }

  :active {
    color:$settings;
    transition:all 0.1s ease;
    transition-property:color;
  }
}



/* INPUTS ------------------------------------*/

// BUTTON
button {
  cursor: pointer;
  border-radius:4px;
  background:$white;
  border:2px solid $input-border;
  color:$dark-gray;
  height:50px;
  line-height:48px;
  width:100%;
  outline:0;
  padding:0 20px;
  font-size:18px;
  font-family: 'Raleway', sans-serif;
  position: relative;
  margin-bottom:10px;
  text-align:center;
  transition:all 0.2s ease;
  box-shadow:0 1px 1px rgba(0,0,0,0);
  transition-property: background, box-shadow;

  &:hover {
    background:transparent;
    //box-shadow:0 4px 7px rgba(0,0,0,0.1);
  }
  &:active {
    background:$white;
    //box-shadow:0 1px 1px rgba(0,0,0,0);
  }
  &.red {
    border:2px solid #d02222;
    background:#f73e3e;
    color:#fff;

    &:hover { background:transparent; color:#f73e3e; }
    &:active { background:$white; }
  }

  &.half {
    width:calc(50% - 7px);
    display:inline-block;

    &:first-child {
      margin-right:10px;
    }
  }
}

// INPUT
.input-container {
  cursor: pointer;
  border-radius:4px;
  background:$white;
  border:2px solid $input-border;
  color:$dark-gray;
  height:50px;
  width:100%;
  outline:0;
  position: relative;
  z-index: 0;
  margin-bottom:10px;

  &.half {
    width:calc(50% - 7px);
    display:inline-block;
    margin-right:10px;
  }

  .icon {
    position:absolute;
    top:13px;
    left:20px;
    height:18px;
    font-size:18px;
  }

  input {
    background: transparent;
    outline:0;
    border:0;
    width:calc(100% - 40px);
    height:100%;
    font-size:18px;
    font-family: 'Raleway', sans-serif;
    padding: 0 20px 0 20px;

    &.with-icon {
      width:calc(100% - 70px);
      padding:0 20px 0 50px;
    }
  }

  &.short {
    height:40px;

    input {
      width:calc(100% - 60px);
    }
  }
}

// SELECT
.select {
  cursor: pointer;
  border-radius:4px;
  background:$white;
  border:2px solid $input-border;
  color:$dark-gray;
  height:50px;
  line-height:48px;
  width:100%;
  outline:0;
  padding:0 20px;
  font-size:18px;
  font-family: 'Raleway', sans-serif;
  position: relative;
  margin-bottom:10px;
  z-index: 2;

  &.open {
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
    z-index: 3;
  }

  .arrow {
    position:absolute;
    right:20px;
    top:16px;
    height:18px;
    line-height:18px;
    font-size:18px;
    color:$dark-gray;
  }

  .options {
    max-height:0;
    background:$dropdown-bg;
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
    position:absolute;
    left:-2px;
    right:-2px;
    top:48px;
    z-index:-2;
    overflow:auto;
    border-bottom:2px solid $input-border;
    transition:max-height 0.3s ease, opacity 0.1s ease;
    opacity:0;

    &.show {
      max-height:120px;
      opacity:1;
    }

    .item {
      font-size:12px;
      line-height:12px;
      padding:10px;
      border-left:2px solid $input-border;
      border-right:2px solid $input-border;
      transition:background 0.2s ease;

      &:not(:last-child){ border-bottom:1px solid $gray; }
      &:hover { background:$white; }
      &:active { background:transparent; }
    }
  }
}



/* AUTH --------------------------------------*/
.auth-component {
  position:fixed;
  top:250px;
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;

  .inputs-container {
    padding:40px;
    width:100%;

    .forgot {
      font-size:11px;
      font-family: "Open Sans", sans-serif;
      cursor: pointer;
      float:right;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}






/* KEYCHAIN --------------------------------------*/
.keychain-component {
  .dashboard {
    height:141px;
    width:100%;
    position: relative;
    font-family:'Raleway', sans-serif;
    color:$darker-gray;

    .dup {
      height:71px;
      padding:20px;
      border-bottom:1px solid $dropdown-bg;

      &.editing {
        height:60px;
      }

      .lock {
        cursor: pointer;
        font-size:18px;
        height:18px;
        display:inline-block;
        transition:color 0.1s ease;
        vertical-align: super;
        padding-right:5px;

        &:hover {
          color:$red;
        }
      }

      .edit {
        cursor: pointer;
        font-size:18px;
        height:18px;
        display:inline-block;
        transition:color 0.1s ease;
        vertical-align: super;
        padding-right:5px;

        &:hover {
          color:$red;
        }
      }

      .wallet-name {
        font-size: 18px;
        display: inline-block;
        padding: 2px 5px;
        border-radius: 4px;
        margin-top: -4px;
        width: 58%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        border: 1px solid transparent;
        box-shadow:0 1px 2px rgba(0,0,0,0);
        background:transparent;
        transition:all 0.1s ease;
        transition-property: box-shadow, border, background, color;
        outline:0;
        vertical-align:top;
        font-family:'Raleway', sans-serif;

        &:hover {
          border:1px solid rgba(0,0,0,0.1);
          box-shadow:0 2px 2px rgba(0,0,0,0.1);
        }

        &:active {
          border:1px solid rgba(255,255,255,1);
          box-shadow:0 -2px 1px rgba(255,255,255,1), inset 0 10px 20px -10px rgba(0,0,0,0.05);
          background:rgba(0,0,0,0.05);
          color:rgba(0,0,0,0.1);
          transition:all 0.2s ease;
        }

        &:focus {
          border:1px solid rgba(255,255,255,1);
          box-shadow:0 -2px 1px rgba(255,255,255,1), inset 0 10px 20px -10px rgba(0,0,0,0.05);
          background:rgba(0,0,0,0.05);
          color:rgba(0,0,0,0.5);
          transition:all 0.2s ease;
        }
      }

      .wallet-keys {
        width: 50%;
        float: left;
        font-size: 10px;
        color: #ccc;
      }

      .truncated-key {
        font-size:13px;
        color:$gray;
        margin-top:1px;
      }

      .send-recv {
        text-align:right;
        font-size:12px;
        font-weight:bold;
        margin-top:7px;

        * {
          cursor: pointer;
          display:inline-block;
          color:$medium-gray;
          margin-left:15px;
          transition:color 0.2s ease;

          &:hover {
            color:$dark-gray;
          }
        }
      }
    }

    .ddown {
      width:100%;
      height:69px;

      &.editing {
        padding:14px 20px;
      }

      .fifty {
        width:50%;
        float:left;
        padding:20px;

        &:last-child {
          text-align:right;
        }

        p {
          line-height:12px;
          margin-top:0;
          margin-bottom:4px;

          &.blue { color:$blue; }
          b { padding-right:5px; }
          span { font-family: "Open Sans", sans-serif; }
        }

        .list-switch {
          cursor: pointer;
          width:40px;
          height:40px;
          display:inline-block;
          margin-left:-4px;
          margin-top:-6px;
          border:1px solid $gray;
          font-size:24px;
          text-align:center;
          line-height:40px;
          transition:all 0.2s ease;
          transition-property: background, color, text-shadow, box-shadow;
          text-shadow:4px 6px 2px rgba(0,0,0,0), 0 1px 2px rgba(0,0,0,0);
          box-shadow:inset 0 20px 2px rgba(0,0,0,0), inset 0 2px 2px rgba(0,0,0,0.0);

          &:last-child {
            border-top-right-radius:4px;
            border-bottom-right-radius:4px;
          }

          &:first-child {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
          }

          &:hover {
            background:#fff;
            box-shadow:0 5px 10px rgba(0,0,0,0.05), 0 2px 15px rgba(0,0,0,0.05);
            color:$dark-gray;
            text-shadow:4px 6px 15px rgba(0,0,0,0), 0 1px 4px rgba(0,0,0,0);
          }

          &.active {
            background:#e8e8e8;
            box-shadow:inset 0 20px 50px rgba(0,0,0,0.14), inset 0 2px 15px rgba(0,0,0,0.05);
            color:$white;
            text-shadow:4px 6px 15px rgba(0,0,0,0.1), 0 1px 4px rgba(0,0,0,0.15);
          }
        }
      }
    }
  }

  .data-list {
    position:fixed;
    top:141px;
    height:359px;
    left:0;
    right:0;
    overflow-y: scroll;
    overflow-x:hidden;
    padding:0 20px;
    color:$darker-gray;

    .item {
      padding:20px 0;
      box-shadow:0 1px rgba(0,0,0,0.1), 0 2px $white;
      font-family:'Raleway', sans-serif;

      &.event {
        overflow:hidden;
      }

      .public-key {

      }

      .fifty {
        width:50%;
        float:left;
        margin:0;

        &:last-child{
          text-align:right;
        }

        .title {
          font-size:18px;
          font-weight:bold;
        }

        .sub-title {
          font-size:12px;
        }

        .coin {
          font-weight:800;
          color:#e3e3e3;
          text-shadow:0 1px 0 $white;
        }

        .amount {
          font-size:18px;
          font-family: 'Open Sans', sans-serif;
          color:$blue;
          font-weight:600;
        }
      }

      &.editing {
        padding:20px 0 10px 0;
      }

      .keypair-accounts {
        height:25px;
        width:100%;

        .deleted {
          width:60%;
          float:left;
          font-size: 12px;
          line-height: 24px;
          font-weight: bold;
        }

        .authority {
          width:60%;
          float:left;

          &.warn {
            text-transform: uppercase;
            color:$red;
            font-weight:900;
          }

          .info {
            margin-left:4px;
            padding:0 6px;
            height:14px;
            border-radius:4px;
            background:#eaeaea;
            color:$white;
            box-shadow:0 -1px 0 #d3d3d3;
            text-shadow:0 1px 0 #cccccc;
            text-align:center;
            line-height:14px;
            font-size:10px;
            cursor: pointer;
            vertical-align:super;
            display:inline-block;
            transition:all 0.2s ease;
            transform:translateY(0px);
            transition-property: background, box-shadow, text-shadow, transform;
            position: relative;
            z-index:99999;

            &:hover {
              background:#5f5f5f;
              box-shadow:0 3px 0 #414141;
              text-shadow:0 1px 0 #252525;
              transform:translateY(-3px);

            }

            &:hover .box {
              display:block;
            }

            .box {
              width:220px;
              min-height:38px;
              position:absolute;
              left:8px;
              background:$white;
              border-radius:4px;
              box-shadow:0 1px 3px rgba(0,0,0,0.1), 0 8px 16px rgba(0,0,0,0.1);
              display:none;
              text-transform: none;


              .account {
                height:38px;
                line-height:38px;
                text-shadow:none;
                overflow:hidden;
                padding:0 10px;
                font-weight:400;
                font-size:11px;

                &:not(:last-child){
                  border-bottom:1px solid #f0f0f0;
                }

                .auth {
                  float:left;
                  color:$dark-gray;
                  border:1px solid $dark-gray;
                  line-height: 11px;
                  padding: 5px;
                  margin-top:8px;
                  border-radius:4px;

                  &.is-owner {
                    background:$red;
                    color:$white;
                    border:0;
                  }
                }
                .name {
                  color:$dark-gray;
                  float:left;
                  margin-left:8px;
                  width:calc(100% - 60px);
                  text-align:left;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                }
              }
            }
          }
        }

        .action-button {
          cursor: pointer;
          height:21px;
          padding:0 5px;
          line-height:21px;
          font-size:12px;
          font-family: 'Raleway', sans-serif;
          border:1px solid #cccccc;
          color:#cccccc;
          transition:all 0.2s ease;
          transition-property: background, border, color;
          float:right;
          border-radius:4px;
          margin-left:2px;

          &:hover, &.active {
            border:1px solid $red;
            background:$red;
            color:#fff;
          }
        }
      }

    }

    .edit-wallet-actions {
      margin-top:20px;

      .line {
        width:100%;
        height:1px;
        background:#eeeeee;
        margin-bottom:10px;
      }
    }
  }
}







/* SETTINGS ----------------------------------------------*/
.settings-component {
  padding:85px 20px 0;
}